.chart-container{
    margin: 12px;
    position: relative;
    height:300px;
    width:500px;
    display: flex;
    
}

.affectAll{
    width: 500px;
    border: 2px solid #00A4BD;
    padding: 10px;
}
